# file types
*.png

# folders
__pycache__

imgs
datasets
wandb
models
resnet18
noise2void
lite_unet

# use 'git rm -r --cached ./codebase/unet' to remove files or folder in remote

# whitelist
!others/*.png